build/bin
node_modules
frontend/dist
go.sum

target/

dependency-reduced-pom.xml
linghy/dependency-reduced-pom.xml

.idea/
*.iml
*.iws
out/
linghy-native/
linghy/target/

*.log

.DS_Store
Thumbs.db

.env
.github/workflows/

launch-release.sh